.root {
  flex-direction: row;
  background: linear-gradient(#ffffff, #ffffff), #ffffff61;
  display: flex;
  position: relative;
  padding: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 32px;
  }
}
.freeBox__wf3Mb {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1280px;
  min-width: 0;
}
.freeBox__wf3Mb > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wf3Mb > :global(.__wab_flex-container) > *,
.freeBox__wf3Mb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wf3Mb > :global(.__wab_flex-container) > picture > img,
.freeBox__wf3Mb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wf3Mb {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wf3Mb > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wf3Mb > :global(.__wab_flex-container) > *,
  .freeBox__wf3Mb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wf3Mb > :global(.__wab_flex-container) > picture > img,
  .freeBox__wf3Mb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.link__vEmU5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text__lB31T {
  position: relative;
  font-size: 28px;
  align-self: center;
  left: auto;
  top: auto;
  color: #0506cf;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  max-width: 157px;
  width: 100%;
  z-index: 1;
  min-width: 0;
}
.freeBox__bvRp4 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__bvRp4 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__bvRp4 > :global(.__wab_flex-container) > *,
.freeBox__bvRp4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bvRp4 > :global(.__wab_flex-container) > picture > img,
.freeBox__bvRp4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bvRp4 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bvRp4 > :global(.__wab_flex-container) > *,
  .freeBox__bvRp4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bvRp4 > :global(.__wab_flex-container) > picture > img,
  .freeBox__bvRp4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link__sajil {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__sajil > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__sajil > :global(.__wab_flex-container) > *,
.link__sajil > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__sajil > :global(.__wab_flex-container) > picture > img,
.link__sajil
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__iimsp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__aEbJd {
  font-size: 18px;
  font-weight: 400;
  color: #535353;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__tSmiY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__mK {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__mK > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__mK > :global(.__wab_flex-container) > *,
.link__mK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__mK > :global(.__wab_flex-container) > picture > img,
.link__mK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__wCnBt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__fgYc {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__kJlJl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__xcKcr {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__xcKcr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__xcKcr > :global(.__wab_flex-container) > *,
.link__xcKcr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__xcKcr > :global(.__wab_flex-container) > picture > img,
.link__xcKcr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__oEzaU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__blA6E {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  height: auto;
}
.svg__s1EF2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__rcbpK {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__rcbpK > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__rcbpK > :global(.__wab_flex-container) > *,
.link__rcbpK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__rcbpK > :global(.__wab_flex-container) > picture > img,
.link__rcbpK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___16Gv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___8MHBw {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__lByMm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__dRdxs {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__dRdxs > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__dRdxs > :global(.__wab_flex-container) > *,
.link__dRdxs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__dRdxs > :global(.__wab_flex-container) > picture > img,
.link__dRdxs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___4LBho {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__bSkFe {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__mImJt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__sVj6J {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__p4EHd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__bxInu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
