.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #edf8ff 55%, #ffffff 100%) 0% 0% / 100% 100%
    repeat;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox___2UYv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__jywC5 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: #0091ffab;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jywC5 {
    width: 100%;
    min-width: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.freeBox__p04Sl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#eaeaea, #eaeaea),
    linear-gradient(#ffffff, #ffffff), #101111a8;
  overflow: auto;
  position: relative;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
  min-width: 0;
  padding: 1px 8px 51px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 53px 8px 8px;
}
.columns > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 940px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 22px;
  color: #ffffff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    padding: 0px;
  }
}
.text__dLi5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 33px;
  text-align: center;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__bVbo8 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__huZot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.footerBottom {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0em 15px 25px;
  border-top: 1px solid #4c526766;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerBottom {
    padding: 0em 15px 2em;
  }
}
.freeBox___0Ohjs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__tjX7Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 1em 0px 0px;
}
.link {
  position: relative;
  display: flex;
  margin: 1em 0px 0px;
}
.text__gTcfl {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 10px;
}
.text___2Fu5O {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 10px;
}
.text__jyUa {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 10px;
}
.text__cyF7Y {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 10px;
}
.freeBox__faUia {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
